{#
/**
 * @file
 * Default theme implementation to display a group.
 *
 */
#}
<div{{ attributes }}>
  <a href="/group/{{ group.id() }}/node/create" title="{{ "Add content"|t }}" class="group__add-link">+ Add content</a>
</div>
