<div class="container">
  <p>Nulla et lacus vitae dui faucibus posuere vel in est. Curabitur ut ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis. </p>
  <ul>
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ul>
  <p>Nulla et lacus vitae dui faucibus posuere vel in est. Curabitur ut ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis. </p>
  <ol>
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ol>
  <p>Nulla et lacus vitae dui faucibus posuere vel in est. Curabitur ut ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis. </p>
</div>
