
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <script src="/js/lib/jquery.sumoselect.js?{{ cacheBuster }}"></script>
  <script src="/js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
