<div class="container">
  <form>
    <div class="form-item form-type-select form-item-select">
      <label for="edit-select">Select</label>
      <!-- <span class="select-arrow-icon">arrow icon</span> -->
      <select id="edit-select" name="select" class="form-select">
        <option value="" selected="selected">- None -</option>
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
    </div>

    <div class="form-item form-type-textfield form-item-name">
      <label for="edit-name" class="form-required">Text Input Normal</label>
      <input type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text required" placeholder="Input text">
    </div>
    <div class="form-item form-type-textfield form-item-name">
      <label for="edit-name2" class="form-required">Text Input Focused</label>
      <input type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text required focused" placeholder="Input text">
    </div>

    <div class="form-item form-type-textfield form-item-email form-item--error">
      <label for="edit-email" class="form-required">Text Input Error</label>
      <input type="text" id="edit-email" name="email" value="" size="60" maxlength="254" class="form-email required error" placeholder="Input text">
    </div>

    <div class="form-item form-type-textfield form-item-subject">
      <label for="edit-subject" class="form-required">Text Input Disabled</label>
      <input type="text" id="edit-subject" name="subject" value="" size="60" maxlength="255" class="form-text required" disabled placeholder="Input text">
    </div>

    <div class="form-item form-type-textarea form-item-message">
      <label for="edit-message" class="form-required">Text area</label>
      <div class="form-textarea-wrapper">
        <textarea id="edit-message" name="message" rows="5" cols="60" class="form-textarea required resize-vertical"></textarea>
      </div>
    </div>
    <div class="form-item form-type-textarea form-item-message">
      <label for="edit-message" class="form-required">Text area Focused</label>
      <div class="form-textarea-wrapper">
        <textarea id="edit-message" name="message" rows="5" cols="60" class="form-textarea required resize-vertical focused"></textarea>
      </div>
    </div>

    <fieldset id="edit-months--wrapper" class="fieldgroup form-composite form-item form-wrapper">
      <legend>
        <span class="fieldset-legend">Checkbox</span>
      </legend>
      <div class="fieldset-wrapper">
        <div id="edit-months" class="webform-options-display-one-column form-checkboxes">
          <div class="form-item form-type-checkbox form-item-months-focused">
            <input type="checkbox" id="edit-months-focused" name="months[Focused]" value="Focused" class="form-checkbox focused">
            <label for="edit-months-focused" class="option">Checkbox Focused</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-january">
            <input type="checkbox" id="edit-months-january" name="months[January]" value="January" class="form-checkbox">
            <label for="edit-months-january" class="option">January</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-february">
            <input data-drupal-selector="edit-months-february" type="checkbox" id="edit-months-february" name="months[February]" value="February" class="form-checkbox">
            <label for="edit-months-february" class="option">February</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-march">
            <input type="checkbox" id="edit-months-march" name="months[March]" value="March" class="form-checkbox">
            <label for="edit-months-march" class="option">March</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-april">
            <input type="checkbox" id="edit-months-april" name="months[April]" value="April" class="form-checkbox">
            <label for="edit-months-april" class="option">April</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-may">
            <input type="checkbox" id="edit-months-may" name="months[May]" value="May" class="form-checkbox">
            <label for="edit-months-may" class="option">May</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-june">
            <input type="checkbox" id="edit-months-june" name="months[June]" value="June" class="form-checkbox">
            <label for="edit-months-june" class="option">June</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-july">
            <input type="checkbox" id="edit-months-july" name="months[July]" value="July" class="form-checkbox">
            <label for="edit-months-july" class="option">July</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-august">
            <input type="checkbox" id="edit-months-august" name="months[August]" value="August" class="form-checkbox">
            <label for="edit-months-august" class="option">August</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-september">
            <input type="checkbox" id="edit-months-september" name="months[September]" value="September" class="form-checkbox">
            <label for="edit-months-september" class="option">September</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-october">
            <input type="checkbox" id="edit-months-october" name="months[October]" value="October" class="form-checkbox">
            <label for="edit-months-october" class="option">October</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-november">
            <input type="checkbox" id="edit-months-november" name="months[November]" value="November" class="form-checkbox">
            <label for="edit-months-november" class="option">November</label>
          </div>
          <div class="form-item form-type-checkbox form-item-months-december">
            <input type="checkbox" id="edit-months-december" name="months[December]" value="December" class="form-checkbox">
            <label for="edit-months-december" class="option">December</label>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset id="edit-radios--wrapper" class="fieldgroup form-composite form-item form-wrapper ">
      <legend>
        <span class="fieldset-legend">Radio</span>
      </legend>
      <div class="fieldset-wrapper">
        <div id="edit-radios" class="webform-options-display-one-column form-radios">
          <div class="form-item form-type-radio form-item-radios">
            <input type="radio" id="edit-radios-focused" name="radios" value="Focused" class="form-radio focused">
            <label for="edit-radios-focused" class="option">Radio Focused</label>
          </div>
          <div class="form-item form-type-radio form-item-radios">
            <input type="radio" id="edit-radios-english" name="radios" value="English" class="form-radio">
            <label for="edit-radios-english" class="option">English</label>
          </div>
          <div class="form-item form-type-radio form-item-radios">
            <input type="radio" id="edit-radios-vietnamese" name="radios" value="vietnamese" class="form-radio">
            <label for="edit-radios-vietnamese" class="option">Vietnamese</label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-actions webform-actions form-wrapper" id="edit-actions">
      <input class="webform-button--submit button button--primary form-submit" type="submit" id="edit-actions-submit" name="op" value="Submit">
    </div>
  </form>
</div>
