.card {
  background: $white;
  border: 1px solid $green-light;
  color: $gray-dark;

  &__title {
    padding: 8px $small-space;
    margin: 0;
    display: inline-block;
    border-radius: 7px 0;
    color: $white;
    background-color: $green-dark;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
  }

  &__content {
    padding: $small-space;
  }
}
