{% if breadcrumb %}
  <ul>
  {% for item in breadcrumb %}
    <li>
      {% if item.url %}
        <a href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        {{ item.text }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
