// VARIABLES
// Define all variables (aside from colors) in this document. This includes breakpoint, sizes, etc.

//Font variables
$base-font-size: 16px;
$base-line-height: 1.4;

// Add global paths
$image-path: '../images/';

// spaces
$small-space: 15px;
$medium-space: 30px;
$large-space: 50px;
$wide-space: 100px;
