{% extends "page.html.twig" %}

{% block page_title %}
  <div class="section page-title bg--blue text--white">
    <div class="container">
      <div class="grid">
        <div class="col-8_md-12">
          {{ page.page_title }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
